<h1>ALL POSTS PAGE</h1>

<% if logged_in? %>
 <h3><%= link_to "Create Post", new_post_path%></h3>
<% end %>

<% @posts.each do |post|%>
    <hr>
    <p> <strong>Title:</strong> <%= post.title %></p>
    <p> <strong>body:</strong> <%= post.body %></p>
    <% if logged_in? %>
        <strong>Author:</strong> <%= post.user.username%> |  
                   <%= time_ago_in_words(post.created_at) %> ago  |  
                   last updated: <%= time_ago_in_words(post.updated_at) %>
    <% end %>

   
<% end %>